.none {
    display: none;
}

button label {
    cursor: pointer;
}

.preview-image {
    height: 300px;
    padding: 30px;
}

.dark {
    background-color: #383838;
}

.upload-btn {
    padding: 0;
    height: 36px;
    margin: 10px;
}

.upload-btn .material-icons {
    padding: 20px;
}

.upload-btn label {
    padding: 20px;
}

.right {
    text-align: right;
}