<div class="container">
    <div class="row" *ngIf="!uploading">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngIf="previewUrl">
                <img [src]="previewUrl" class="preview-image light" />
                <img [src]="previewUrl" class="preview-image dark" />
            </div>
            <div class="row right">
                <button mat-raised-button class="upload-btn">
                    <label>
                        Change
                        <input #input class="none" type="file" (change)="fileProgress($event)" />
                    </label>
                </button>
                <button color="primary" mat-raised-button (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
    <mat-progress-bar *ngIf="uploading" [color]="primary" [mode]="determinate" [value]="loadingValue"></mat-progress-bar>
</div>