.none {
    display: none;
}

button label {
    cursor: pointer;
}

.preview-image {
    height: 300px;
}

.dark {
    background-color: #383838;
}

.upload-btn {
    padding: 0;
}

.upload-btn label {
    padding: 20px;
}