.mst-logo {
    height: 40px;
}

.mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,1);
}

mat-panel-description {
    margin-top: auto;
    margin-bottom: auto;
}

.none {
    display: none;
}

button label {
    cursor: pointer;
}