<mat-expansion-panel [disabled]="true" [expanded]="selected == index">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <img class="mst-logo" [src]="'/assets/icon/default_mst.png'">
        </mat-panel-title>
        <mat-panel-description>
            {{mst.attachment.symbol}}
        </mat-panel-description>
        <button mat-button color="primary" class="upload-btn">
            <label>
                Update icon
                <input class="none" type="file" accept=".png" (change)="set($event)" />
            </label>
        </button>
        <button mat-button color="warn" (click)="set()">Set default</button>
        <button mat-button (click)="select()">
            <i *ngIf="selected != index" class="material-icons">keyboard_arrow_down</i>
            <i *ngIf="selected == index" class="material-icons">keyboard_arrow_up</i>
        </button>
    </mat-expansion-panel-header>
    <h4>Initial total supply: {{mst.attachment.quantity}}</h4>
    <h4>Issuer: {{mst.attachment.issuer}}</h4>
    <h4>Description: {{mst.attachment.description}}</h4>
</mat-expansion-panel>
<!--app-upload-image></app-upload-image-->